<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllers.user.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeController</servlet-name>
        <servlet-class>controllers.common.LoadHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSkillController</servlet-name>
        <servlet-class>controllers.admin.CreateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillController</servlet-name>
        <servlet-class>controllers.admin.UpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controllers.common.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>controllers.user.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMenteeProfileController</servlet-name>
        <servlet-class>controllers.user.ViewMenteeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfileController</servlet-name>
        <servlet-class>controllers.user.CreateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressController</servlet-name>
        <servlet-class>controllers.user.AddressController</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controllers.user.UpdateProfileController</servlet-class>

        <servlet-name>LoadRequestController</servlet-name>
        <servlet-class>controllers.user.LoadRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInvitationController</servlet-name>
        <servlet-class>controllers.user.EditInvitationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendInvitationController</servlet-name>
        <servlet-class>controllers.user.SendInvitationController</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSkillController</servlet-name>
        <url-pattern>/createSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillController</servlet-name>
        <url-pattern>/updateSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/forgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMenteeProfileController</servlet-name>
        <url-pattern>/viewMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfileController</servlet-name>
        <url-pattern>/createProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressController</servlet-name>
        <url-pattern>/addressControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateProfile</url-pattern>

        <servlet-name>LoadRequestController</servlet-name>
        <url-pattern>/loadRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInvitationController</servlet-name>
        <url-pattern>/editInvitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendInvitationController</servlet-name>
        <url-pattern>/sendInvitation</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
