<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllers.user.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeController</servlet-name>
        <servlet-class>controllers.common.LoadHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSkillController</servlet-name>
        <servlet-class>controllers.admin.CreateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillController</servlet-name>
        <servlet-class>controllers.admin.UpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controllers.common.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassController</servlet-name>
        <servlet-class>controllers.user.ForgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvitationController</servlet-name>
        <servlet-class>controllers.user.ViewInvitationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMenteeProfileController</servlet-name>
        <servlet-class>controllers.user.ViewMenteeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.common.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSkillController</servlet-name>
        <url-pattern>/createSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillController</servlet-name>
        <url-pattern>/updateSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassController</servlet-name>
        <url-pattern>/forgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvitationController</servlet-name>
        <url-pattern>/view_invitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMenteeProfileController</servlet-name>
        <url-pattern>/viewMenteeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
